[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
paramiko = "*"
scp = "*"
sphinx-rtd-theme = "*"
docutils = "<0.18"
lxml = "*"
sphinx-notfound-page = "*"
Sphinx = ">=1.4.3"

[dev-packages]

[requires]
python_version = "3.9"
